@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}
:root {
  --base-clr: rgb(20, 34, 43);
  --bg-clr: white;
  --accent-clr: dodgerblue;
  --fs-sm: 0.8rem;
  --fs-md: 1rem;
  --fs-lg: 1.8rem;
  --fs-xl: 4rem;
  --fw-n: 400;
  --fw-m: 500;
  --fw-b: 700;
}
body {
  color: var(--accent-clr);
}
